@model Blog.Areas.Admin.Models.Category.EditCategoryViewModel
@{
    ViewData["Title"] = "ویرایش دسته بندی";
    ViewData["Selected"] = "category";
}
<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
    <ol class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Home" asp-area="Admin"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li asp-action="Index" asp-controller="Category" asp-area="Admin"><a>دسته بندی ها</a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
</section>
<section class="content">
    <form class="box box-danger" method="post" asp-action="Edit" asp-controller="Category" asp-area="Admin">
        <div class="box-body row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" style="color:red"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Slug"></label>
                    <input asp-for="Slug" class="form-control" />
                    <span asp-validation-for="Slug" style="color:red"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MetaTag"></label>
                    <input asp-for="MetaTag" class="form-control" />
                    <span asp-validation-for="MetaTag" style="color:red"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MetaDescription"></label>
                    <textarea asp-for="MetaDescription" class="form-control"></textarea>
                    <span asp-validation-for="MetaDescription" style="color:red"></span>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-success" type="submit">ویرایش اطلاعات</button>
        </div>
    </form>
</section>
